* {
	touch-action: manipulation;
}

input[type=checkbox] {
	transform: scale(1.2);
}

label,
input {
	display: inline-block;
	vertical-align: middle;
}

body {
	margin: 4px;
	background-color: snow;
}

td {
	padding: 0.5vh;
}

.sliderCSS {
	position: fixed;
	width:100%;
	overflow-y: hidden;
	max-height: 700px;
	transition-property: all;
	transition-duration: 0.5s;
	background-color: #1b1a1a;
	color: #eee;
	z-index: 50;
	font-size: 1.2em;
}

.sliderCSS.closed {
	max-height: 0;
}

#popupWind {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index: 150;
	background: #827993;
	color: #eee;
}

textarea {
	background-color: #dcdcdc;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:16px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton2 {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:4vw 0 0 4vw;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:1.2em;
	font-weight:bold;
	padding:1vh;
	margin:0.5vh;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.myButtonOK {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:50%;
	width:11vw;
	height:11vw;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10vw;
	padding:1vw;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.myButtonOK:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.myButtonOK:active {
	position:relative;
	top:1px;
}

.myButtonNOK {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	width:4vh;
	height:4vh;
	border-radius:50%;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:3vh;
	font-weight:bold;
	padding:3px 3px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	vertical-align: text-center;
}
.myButtonNOK:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.myButtonNOK:active {
	position:relative;
	top:1px;
}

.myButtonSet {
	position:fixed; 
	text-align:center;
	top:0; 
	right:0; 
	margin: 4px;
	z-index: 70;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:1.5em;
	font-weight:bold;
	padding:8px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
 	width:5vh;
	height:4vh;
}

/* Скрываем элемент <input type="file" /> */
input[type="file"] {
	display: none;
}
	 
/* Собственно стилизируем кнопку в соответствии с нужным внешним видом */
.custom-file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}